<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mine now bithc</title>
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>
    <body>
        <div
        class="collapse navbar-collapse" id="navcol-1"><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="{{url_for('login')}}" style="background-color:#aedc8a;">Login</a></span></div>
        <div
        class="collapse navbar-collapse" id="navcol-1"><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="{{url_for('sign up')}}" style="background-color:#aedc8a;">sign</a></span></div>
    </body>

</html>